/* 応募フォーム調整用 */

#apply{
  margin:16px;
}
@media screen and (min-width:992px){
  #apply{
    width: 90%;
    max-width: 1200px;
    margin:0 auto 24px auto;
  }
}

#apply h2{
  background:none;
  font-size: 32px;
  margin-top: 40px;
  margin-bottom: 0;
  height: 56px;
}

#apply h2 + p{
  text-align: center;
  margin-top: 0;
}

#error-message{
  list-style:none;
  margin:40px 0;
  padding: 0 40px;
}

#error-message li{
  padding-left: 1em;
  text-indent: -1em;
}
#apply select{
    color: #000;
  background-color: #fff;
}

form{
  background-color: rgb(255,255,255);
  width: 100%;
  padding: 16px;
}
@media screen and (min-width:992px){
  form{
    padding: 24px;
  }
}

form h4{
  margin-top: 32px;
  margin-bottom: 8px;
  font-weight: 300;
  display: flex;
}

form h4 .require{
  display: block;
  width: 48px;
  height: 24px;
  background-color: rgb(250,5,5);
  color: rgb(250,250,250);
  padding:0 4px;
  margin-right: 4px;
  line-height: 24px;
  font-size: 14px;
  text-align: center;
}

form h4 .require.non{
  background-color: rgb(5,5,250);
}

form h4 p{
  width: calc(100% - 52px);
}

form input[type="text"],
form select{
  color: #000;
  min-height: 40px;
  line-height: 2.5;
  border-radius: 4px;
  border:solid 1px rgb(5,5,5);
}

form select{
  padding: 1px 4px;
  -webkit-appearance:none;
}

textarea{
  min-height: 150px;
  border-radius: 4px;
  border:solid 1px rgb(5,5,5);
}

form input[type="text"]:focus,
form select:focus,
textarea:focus{
  box-shadow: 0 0 4px rgb(250,5,5);
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-bottom{
  display: flex;
  align-items: flex-end;
}

.font-red{
  color: rgb(250,5,5);
}

.w100{
  width: 100%;
  margin-bottom: 16px;
}

.w50{
  width: calc((100% - 8px) / 2);
  margin-right: 8px;
  margin-bottom: 16px;
}

.w50:last-child{
  margin-right:0;
}
.w75{
  width: calc(75% - 16px);
  margin-right: 8px;
  margin-bottom: 16px;
}

.w75:last-child{
  margin-right:0;
}

.w25{
  width: calc((100% - 24px) / 4);
  margin-right: 8px;
}

/* レシート情報 */

#receipt .receipt-flex{
  display: flex;
  flex-direction: column;
  /* display: grid; */
  /* grid-template-columns: 60% 40%; */
}
@media screen and (min-width:992px){
  #receipt .receipt-flex{
    flex-wrap: wrap;
    height: 400px;
    justify-content: space-around;
    align-items: center;
  }
}

#receipt .receipt-flex h3{
  padding: 40px 0;
  text-align: center;
}
@media screen and (min-width:992px){
  #receipt .receipt-flex h3{
    order: 3;
    text-align: left;
    width: 50%;
  }
}

#receipt .receipt-flex p{
  text-align: center;
  font-weight: 400;
}
@media screen and (min-width:992px){
  #receipt .receipt-flex p{
    order: 4;
    text-align: left;
    width: 50%;
  }
}

#receipt .receipt-flex img{
  display: block;
  width: 80%;
  max-width: 500px;
  height: auto;
  margin: 16px auto;
}
@media screen and (min-width:992px){
  #receipt .receipt-flex img{
    order: 1;
    height: 100%;
    width: auto;
  }
  #receipt .receipt-flex .border{
    width: 1px;
    height: 400px;
    background-color: rgb(5,5,5);
    order: 2;
  }
}

#receipt .receipt-flex ul{
  list-style:none;
  margin: 0;
  padding: 0;
}
@media screen and (min-width:992px){
  #receipt .receipt-flex ul{
    order: 5;
    width: 50%;
  }
}

/* 賞品選択 */

#present h5{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  background-color: rgb(5,5,5);
  color: rgb(250,250,250);
  padding: 8px;
  margin:24px 0 0 0;
}
@media screen and (min-width:992px){
  #present h5{
    font-size: 24px;
    padding: 16px;
  }
}

#present h5 p{
  font-weight: 100;
  font-size: 16px;
}
@media screen and (min-width:992px){
  #present h5 p{
    font-size: 20px;
  }
}

#present h6{
  background-color: rgb(230,230,230);
  padding: 8px;
  font-size: 12px;
  font-weight: 100;
  margin: 0;
}
@media screen and (min-width:992px){
  #present h6{
    font-size: 18px;
    padding: 8px 16px;
  }
}

#present h6 b{
  font-size: 16px;
  font-weight: 400;
}
@media screen and (min-width:992px){
  #present h6 b{
    font-size: 24px;
  }
}

#present label{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: solid 1px rgb(230,230,230);
  padding: 8px;
}
@media screen and (min-width:992px){
  #present label{
    flex-wrap: nowrap;
    justify-content: center;
    padding: 24px;
  }
}

#present label.dpoint{
  border-bottom: none;
}

#present div.dpoint{
  border: solid 1px rgb(230,230,230);
  border-top: none;
  padding: 8px;
}
@media screen and (min-width:992px){
  #present div.dpoint{
    padding: 24px;
  }
}

#present label input{
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 8px 0 0;
  padding: 0;
}

#present label p{
  width: calc(100% - 24px);
  margin: 0;
  padding: 0;
}
@media screen and (min-width:992px){
  #present label p{
    width: calc(45% - 24px);
  }
}

#present label img{
  display: block;
  width: 100%;
  height:100%;
}
@media screen and (min-width:992px){
  #present label img{
    width: 45%;
  }
}

/* dポイント番号入力 */

#present .dpoint h6{
  background: none;
  font-size: 20px;
  margin:8px 0 4px 0;
  padding: 0;
}

#present .dpoint h6 + p{
  font-size: 14px;
}

#present .dpoint .flex input{
  width: calc((100% - 24px) / 4);
  margin: 16px 0;
}

#present .dpoint .flex span{
  display: block;
  height: 1px;
  width: 8px;
  background-color: rgb(5,5,5);
}

#present .dpoint ul{
  list-style: none;
  margin: 8px 0;
  padding: 0;
  font-size: 14px;
}

#present .dpoint ul li{
  padding-left: 1em;
  text-indent: -1em;
}

/* マツキヨポイント番号入力 */

#present .mkpoint h6{
  background: none;
  font-size: 20px;
  margin:24px 0 4px 0;
  padding: 0;
}

#present .mkpoint p{
  font-size: 14px;
}

#present .mkpoint .flex.left{
  justify-content: flex-start;
}

#present .mkpoint .flex input{
  width: calc(100% / 4.5);
  margin: 16px 0;
}

#present .mkpoint .flex span{
  display: block;
  height: 1px;
  width: 8px;
  background-color: rgb(5,5,5);
}

#present .mkpoint ul{
  list-style: none;
  margin: 8px 0;
  padding: 0;
  font-size: 14px;
}

#present .mkpoint ul li{
  padding-left: 1em;
  text-indent: -1em;
}

#present .mkpoint img{
  display: block;
  width: 100%;
  height: auto;
  margin: 16px auto 24px auto;
}
@media screen and (min-width:992px){
  #present .mkpoint img{
    width: 80%;
    max-width: 800px;
  }
}

/* 個人情報 */

#personal .flex{
  justify-content: flex-start;
  flex-wrap: wrap;
}

#personal .flex label{
  margin-bottom: 16px;
}

#personal .flex label:nth-child(2){
  margin-left: 16px;
}
@media screen and (min-width:992px){
  #personal .flex label:nth-child(3){
    margin-left: 16px;
  }
}

#personal ul{
  list-style:none;
  margin:16px 0;
  padding: 0;
}

/* アンケート */

#questionnaire .flex {
  flex-wrap: wrap;
  align-items: flex-start;
}

#questionnaire .flex label{
  display: flex;
  align-items: flex-start;
  width: 50%;
  line-height: 2;
}
@media screen and (min-width:992px){
  #questionnaire .flex label{
    width:25%;
  }
}

#questionnaire .flex label input[type="checkbox"],
#questionnaire .flex label input[type="radio"] {
  height: 27px;
}

#questionnaire label{
  display: block;
  width: 100%;
  margin-bottom: 8px;
}

#questionnaire .supplement{
  display: block;
  font-size: 12px;
  color: rgb(100,100,100);
  margin-left: 1rem;
}
@media screen and (min-width:992px){
  #questionnaire .supplement{
    display: inline;
  }
}

/* プラポリ */

#privacypolicy h3{
  font-size: 14px;
  margin: 40px 0 16px 0;
  text-align: center;
}
@media screen and (min-width:992px){
  #privacypolicy h3{
    font-size: 16px;
    margin: 56px 0 32px 0;
  }
}

#privacypolicy div{
  border: solid 1px rgb(5,5,5);
  padding: 8px;
  font-size: 14px;
}
@media screen and (min-width:992px){
  #privacypolicy div{
    padding: 24px;
    font-size: 16px;
  }
}

#privacypolicy div h4{
  margin: 8px 0;
  text-align: center;
  justify-content: center;
  font-size: 16px;
}
@media screen and (min-width:992px){
  #privacypolicy div h4{
    font-size: 20px;
  }
}

/* 同意 */

form h4.agree{
  justify-content: space-around;
  align-items: center;
  margin: 40px 0;
}
@media screen and (min-width:992px){
  form h4.agree{
    justify-content: center;
    font-size: 20px;
  }
  form h4.agree label{
    margin-left: 16px;
  }
}

form input[type="submit"]{
  display: block;
  width: 80%;
  color: #000;
  background-color: #F7EE4D;
  text-align: center;
  line-height: 3;
  border-radius: 100px;
  border:none;
  margin: 40px auto;
  -webkit-appearance: none;
  cursor: pointer;
}

@media screen and (min-width:992px){
  .zip-code{
    width: 100%;
  }
}

/* プログレスバー */

#progress{
  list-style:none;
  margin:0;
  padding:0;
  position: fixed;
  top:56px;
  z-index: 2;
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  font-size: 12px;
  font-weight: 400;
}
@media screen and (min-width:992px){
  #progress{
    font-size: 16px;
    font-weight: 100;
  }
}

.progress-show{
  visibility: visible !important;
  opacity: 1;
  transition: opacity .2s;
}

.progress-hide{
  visibility: hidden;
  opacity: 0;
  transition: visibility .5s, opacity .5s;
}

#progress li{
  display: block;
  width: calc((100% - 8px) / 4);
  height: 40px;
  margin-left: -8px;
  background-image: url(../img/progress-off.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  text-align: center;
  line-height: 40px;
  filter: drop-shadow(0 0 2px rgb(68,68,68));
}
@media screen and (min-width:992px){
  #progress li{
    width: 200px;
    height: 56px;
    line-height: 56px;
    margin-left: -18px;
  }
}

#progress li:nth-child(1){
  z-index: 4;
}

#progress li:nth-child(2){
  z-index: 3;
}

#progress li:nth-child(3){
  z-index: 2;
}

#progress li:nth-child(4){
  z-index: 1;
}

#progress li a{
  display: block;
  width: 100%;
  height: 100%;
}

#progress li a.on{
  background-image: url(../img/progress-on.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

/* 確認画面 */

#confirm{
  margin:40px 16px;
}
@media screen and (min-width:992px){
  #confirm{
    width: 90%;
    max-width: 1200px;
    margin:40px auto 40px auto;
  }
}

#confirm h2{
  background-color: rgb(200,200,200);
  margin-bottom: 0;
}

#confirm dl{
  width: 100%;
}
@media screen and (min-width:992px){
  #confirm dl{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}

#confirm dl dt,
#confirm dl dd{
  width: 100%;
  background-color: rgb(255,255,255);
  border: solid 1px rgb(206,206,206);
  margin-top:-1px;
}
@media screen and (min-width:992px){
  #confirm dl dt,
  #confirm dl dd{
    padding: 16px;
    align-self: stretch;
  }
}

#confirm dl dt{
  display: flex;
  padding: 16px 16px 4px 16px;
  border-bottom: none;
  color: rgb(100,100,100);
}
@media screen and (min-width:992px){
  #confirm dl dt{
    justify-content: space-between;
    width: calc(30% + 1px);
    background-color: rgb(230,230,230);
    padding: 16px;
    border-bottom: solid 1px rgb(206,206,206);
    color: rgb(5,5,5);
  }
}

#confirm dl dt span{
  background-color: rgb(250,5,5);
  color: rgb(250,250,250);
  font-size: 14px;
  font-weight: 400;
  padding: 0 4px;
  align-self: center;
  margin-right: 8px;
}
@media screen and (min-width:992px){
  #confirm dl dt span{
    margin: 0;
  }
}

#confirm dl dt p{
  width: 80%;
}
@media screen and (min-width:992px){
  #confirm dl dt p{
    text-align: right;
    width: 80%;
    align-self: center;
  }
}

#confirm dl dd{
  padding: 4px 16px 16px 16px;
  border-top: none;
  font-size: 20px;
}
@media screen and (min-width:992px){
  #confirm dl dd{
    width: 70%;
    background-color: rgb(255,255,255);
    margin-left: -1px;
    padding: 16px;
    font-size: 16px;
    border-top: solid 1px rgb(206,206,206);
  }
}

#confirm .back{
  display: block;
  width: 80%;
  border: solid 1px rgb(206,206,206);
  text-align: center;
  line-height: 3;
  border-radius: 100px;
  margin: 40px auto;
}

#confirm input[type="submit"]{
  display: block;
  width: 80%;
  color: #000;
  background-color: #F7EE4D;
  text-align: center;
  line-height: 3;
  border-radius: 100px;
  border:none;
  margin: 40px auto;
  -webkit-appearance: none;
  cursor: pointer;
}

/* サンクスページ */

#thanks{
  padding:40px 16px;
  background-color: rgba(255,228,2,.3);
}

#thanks > img{
  width: 150px;
  height: auto;
  display: block;
  margin: 0 auto;
}

#thanks h2{
  background:none;
  font-size: 24px;
  text-align: center;
  height: 40px;
  margin: 24px 0;
}
@media screen and (min-width:992px){
  #thanks h2{
    font-size: 32px;
    height: 72px;
  }
}

#thanks h2 + p{
  font-size: 20px;
  text-align: center;
  margin-top:0;
}

#thanks img.thanks{
  width: 100%;
  height:auto;
  margin:40px auto;
}
@media screen and (min-width:992px){
  #thanks img.thanks{
    max-width: 600px;
  }
}

#thanks p{
  text-align: center;
  margin: 40px 0;
}
/* サンクスページ */

#thanks{
  padding:40px 16px;
  background-color: rgba(255,228,2,.3);
}

#thanks > img{
  width: 150px;
  height: auto;
  display: block;
  margin: 0 auto;
}

#thanks h2{
  background:none;
  font-size: 24px;
  text-align: center;
  height: 40px;
  margin: 24px 0;
}
@media screen and (min-width:992px){
  #thanks h2{
    font-size: 32px;
    height: 72px;
  }
}

#thanks h2 + p{
  font-size: 20px;
  text-align: center;
  margin-top:0;
}

#thanks .attention-thanks{
  width: 100%;
  background-color: rgb(250,250,250);
  border-radius: 8px;
  padding: 16px;
}
@media screen and (min-width:992px){
  #thanks .attention-thanks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 24px auto;
    padding: 24px;
  }
}

#thanks .attention-thanks .column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width:992px){
  #thanks .attention-thanks .column{
    width: 20%;
  }
}

#thanks .attention-thanks .column p{
  margin: 16px 0;
}
@media screen and (min-width:992px){
  #thanks .attention-thanks .column p{
    margin: 0 0 16px 0;
  }
}

#thanks .attention-thanks .column img{
  display: block;
  width: 80px;
  height: auto;
  margin: 0 auto;
}

@media screen and (min-width:992px){
  #thanks .attention-thanks div:nth-child(2){
    width: 80%;
  }
}

#thanks .attention-thanks h3{
  font-size: 16px;
  text-align: center;
  margin: 24px 0;
}
@media screen and (min-width:992px){
  #thanks .attention-thanks h3{
    text-align: left;
    margin: 0 0 16px 0;
  }
  #thanks .attention-thanks h3 + p{
    margin: 0;
    text-align: left;
  }
}

#thanks img.thanks{
  width: 100%;
  height:auto;
  margin:40px auto;
}
@media screen and (min-width:992px){
  #thanks img.thanks{
    max-width: 800px;
  }
}

#thanks p{
  text-align: center;
  margin: 40px 0;
}

.font-s07em{
  font-size: 0.8em;
}

/* mkcfポイントの確認方法 */
#mkcfpoint-apply-notification{
  display: none;
}
label.mkcfpoint-apply-notification{
  display: block;
  margin: auto;
  width: 100%;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  border-radius: 40px;
  position: relative;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.2em;
  padding: 0!important;
  border: none!important;
  justify-content: center!important;
}
.mkcfpoint-apply-notification-acd{
  display: none;
  width: 100%;
  height: 0;
  color: #333;
  opacity: 0;
  margin: 0 auto;
}
.mkcfpoint-apply-notification-acd img{
  width: 100%;
  max-width: 400px;
  height: auto;
  margin:30px auto;
}
.apply-notification-mkcfpoint{
  height: auto;
}
.apply-notification-red{
  color: #d20000;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}
.apply-notification-mkcfpoint .notification_sp{
  display: block;
}
.apply-notification-mkcfpoint .notification_pc{
  display: none;
  width: 100%;
  height: auto;
}
.apply-notification-red span{
  display: inline-block;
}
.apply-notification-red::before{
  content: url(../img/exclamation_red.svg);
  display: inline-block;
  height: 34px;
  width: 34px;
  margin-right: 20px;
  vertical-align:middle;
}
.nomal-apply-info{
  width: 100%;
  height: auto;
  margin: 30px auto;
}
.mkcfpoint-apply-notification_list{
  font-size: 14px;
  line-height: 28px;
  text-indent: -14px;
}
@media screen and (min-width:992px){
  .apply-notification-mkcfpoint .notification_sp{
    display: none;
    width: 100%;
  }
  .apply-notification-mkcfpoint .notification_pc{
    display: block;
    margin: 0 auto;
    max-width: 70%;
    width: 70%;
    height: auto;
  }
  .apply-notification-red span{
    display: inline-block;
  }
  label.mkcfpoint-apply-notification{
    width: 100%;
  }
  .mkcfpoint-apply-notification-acd{
    width: 100%;
  }
  .nomal-apply-info{
    width: 80%;
    height: auto;
    max-width: 700px;
    margin: 30px auto;
  }
  .apply-notification-mkcfpoint span{
    width: 100%;
  }
  .apply-notification-red{
    font-size: 29px;
  }
  .apply-notification-red::before{
    content: url(../img/exclamation_red.svg);
    display: inline-block;
    height: 48px;
    width: 48px;
    margin-right: 20px;
  }
}
input[type="checkbox"]#mkcfpoint-apply-notification:checked + label.mkcfpoint-apply-notification + .mkcfpoint-apply-notification-acd{
  height: auto;
  display: block;
  opacity: 1;
  transition: all .5s;
}
input[type="checkbox"]#mkcfpoint-apply-notification + label.mkcfpoint-apply-notification::after{
  content: "";
  position: absolute;
  right: 22px;
  top: 28px;
  width: 18px;
  height: 2px;
  background-color: #999;
  transition: all 0.3s;
}
input[type="checkbox"]#mkcfpoint-apply-notification + label.mkcfpoint-apply-notification::before{
content: "";
position: absolute;
right: 30px;
top: 20px;
width: 2px;
height: 18px;
background-color: #999;
transition: all 0.3s;
}
.pcbr{
  display: none;
}
.spbr{
  display: block;
}
input[type="checkbox"]#mkcfpoint-apply-notification:checked + label.mkcfpoint-apply-notification::before{
  transform: rotate(90deg) !important;
  }
#present .dpoint .mkcfpoint-apply-notification-acd h6{
  background-color: #fff;
  text-align: center;
  width: 100%;
  margin: 50px auto 0 auto;
}
.devide2{
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  text-align: center;
}
.devide2 img{
  width: 100%;
  height: auto;
  margin: 20px auto;
}
.devide2 p{
  text-align: center;
}
.devide3{
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}
.devide3 img{
  width: 100%;
  height: auto;
  margin: 20px auto;
  text-align: center;
}
.devide3 p{
  text-align: center;
}

.apply-method-mkcfpoint{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  overflow-wrap: break-word;
}
.apply-method-mkcfpoint .apply-method-mkcfpoint-wrap{
  border: #ddd 2px solid;
  height: auto;
  border-radius: 20px;
  margin: 0 0 30px 0;
}
@media screen and (min-width:992px){
  .spbr{
    display: none;
  }
  .pcbr{
    display: block;
  }
}
@media screen and (min-width:992px){
  input[type="checkbox"]#mkcfpoint-apply-notification + label.mkcfpoint-apply-notification::before{
    right: 40px;
  }
  input[type="checkbox"]#mkcfpoint-apply-notification + label.mkcfpoint-apply-notification::after{
    right: 32px;
  }
  .mkcfpoint-or-nomal-apply{
    display:inline;
    max-height: 257px;
  }
  .mkcfpoint-or-nomal-apply_sp{
    display: none;
  }
  .devide2{
    display: grid;
    grid-template-columns: 1fr 80px 1fr;
    align-items: center;
    text-align: center;
  }
  .devide2 img{
    width: 100%;
    height: auto;
    margin: 0 auto 50px auto;
  }
  .devide2 p{
    text-align: center;
  }
  .devide3{
    display: grid;
    grid-template-columns: 1fr 80px 1fr 80px 1fr;
    align-items: center;
  }
  .devide3 img{
    width: 100%;
    height: auto;
    margin: 0 auto 50px auto;
    text-align: center;
  }
  .devide3 p{
    text-align: center;
  }
  .mkcfpoint-apply-notification-acd h6{
    background-color: #fff;
    text-align: center;
    width: 100%;
  }
}

@media screen and (min-width:992px){
  .apply-method-mkcfpoint .apply-method-mkcfpoint-wrap{
    margin: 0 0 50px 0;
  }
  .mkcfpoint-upload-label{
    display: block;
    background-color: #333;
    color: #fff;
    width: 60%;
    max-width: 600px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    margin: auto;
    cursor: pointer;
    border-radius: 25px;
  }
}

/* 新基盤のため一時的に使用 */
.app_member_temp img{
  width: 100%;
  height: auto;
  max-width: none;
}
.app_member_temp .sp{
  display: block;
}
.app_member_temp .pc{
  display: none;
}
@media screen and (min-width:992px){
  .app_member_temp .sp{
    display: none;
  }
  .app_member_temp .pc{
    display: block;
  }
}